- if resource.errors.any?
  #error_explanation.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block data-turbo-cache="false" data-controller="bridge--flash-message" 
    = resource.errors.full_messages.to_sentence